allow audioserver nvram_device:blk_file { open read write };
allow audioserver ccci_device:chr_file { ioctl open read write };
allow audioserver fm_device:chr_file { read write open ioctl };
